/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #faf7f2;
  color: #da8c48;
}

/* Navigation */
nav {
  background: linear-gradient(90deg, #b9ab9b, #a89886);
  color: #3e362f;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 28px;
}

nav ul li {
  cursor: pointer;
  font-size: 15px;
  opacity: 0.85;
}

nav ul li:hover {
  opacity: 1;
  border-bottom: 2px solid #6b5f54;
}

/* Hero Section */
.hero {
  height: 100vh; /* full screen hero */
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("https://plus.unsplash.com/premium_photo-1669748157617-a3a83cc8ea23?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2VhJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  opacity: 0.9;
}

.hero button {
  margin-top: 20px;
  padding: 12px 32px;
  background-color: #ffd15c;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.hero button:hover {
  background-color: #7caeb0;
}

/* About Section */
.about {
  padding: 70px 20px;
  text-align: center;
  background: #ffffff;
}

.about h2 {
  font-size: 26px;
  margin-bottom: 18px;
  color: #6b5f54;
}

.about p {
  max-width: 650px;
  margin: auto;
  font-size: 16px;
  line-height: 1.7;
  color: #5c534a;
}

/* Courses Section */
.courses {
  padding: 70px 20px;
  text-align: center;
  background: linear-gradient(#ffffff, #f2ece4);
}

.courses h2 {
  font-size: 26px;
  margin-bottom: 40px;
  color: #6b5f54;
}

.course-card {
  width: 260px;
  display: inline-block;
  margin: 18px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(107, 95, 84, 0.18);
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-8px);
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.course-card h3 {
  padding: 16px;
  font-size: 16px;
  color: #4a423b;
}

/* Gallery */
.gallery {
  background: #efe8df;
}

.gallery img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #b9ab9b, #a89886);
  color: #3e362f;
  text-align: center;
  padding: 18px;
  font-size: 14px;
}

