.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}
.cinema {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
    filter: hue-rotate(200deg);
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(10, 47, 158);
    z-index: -1;
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    min-height: 100vh;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 50, 0.3);
}
@keyframes borderGlow {
    0% { box-shadow: 0 0 10px white }
    50% { box-shadow: 0 0 30px white }
    100% { box-shadow: 0 0 10px white }
}
.profile{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    border: 5px solid #122E34;
    border: 3px solid white;
    animation: borderGlow 2s infinite;
    padding: 5px;
    margin-top: 10%;
}
.profile:hover {
    transform: scale(1.1) rotate(2deg);
}

.fox{
    background-color: rgb(16, 90, 146);
    
}

.profile-container {
    position: relative;
    display: inline-block;
}

.social {
    position: absolute;
    background: white;
    color: black;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
}

.social:hover {
    transform: scale(1.2);
    background: black;
    color: white;
}

.ig { top: -20px; left: 40%; }
.gh { left: -25px; top: 45%; }
.li { right: -25px; top: 45%; }
.tw { bottom: -20px; left: 40%; }